<!DOCTYPE html>
<html>
<head>
    <title>Assinar Documento</title>
</head>
<body>
    <h1>Assinar Documento</h1>
    <form method="post">
        {% csrf_token %}
        <label for="documento_id">Selecione o Documento:</label>
        <select name="documento_id" id="documento_id">
            {% for documento in documentos %}
                <option value="{{ documento.id }}">{{ documento.arquivo }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Assinar Documento</button>
    </form>
</body>
</html>
