<!DOCTYPE html>
<html>
<head>
    <title>Validar Assinatura</title>
</head>
<body>
    <h1>Validar Assinatura de Documento</h1>

    <p>Documento: {{ documento.nome }}</p>
    <p>Assinatura Válida: {{ valid }}</p>
    {% if valid %}
        <p>A assinatura é válida.</p>
    {% else %}
        <p>A assinatura é inválida ou ocorreu um erro na verificação.</p>
        <p>Mensagem de Erro: {{ mensagem }}</p>
    {% endif %}

    <a href="{% url 'lista_documentos' %}">Verificar outro Documento</a>
    <br>
</body>
</html>
